{% extends '::base.html.twig' %}

{%  block body %}
    {% if item %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a><b>{{ item.title }}</b></a></li>
                    <li><a href="{{ path('leo_and_leo_to_do_list.list_google_list_id', { 'id': item.mainlist.id }) }}">Return to the main list</a></li>
                    <li><a href="{{ path('leo_and_leo_to_do_list.item_google_item_edit', { 'id': item.mainlist.id, 'idItem': item.id }) }}">Edit the item</a></li>
                    <li><a href="{{ path('leo_and_leo_to_do_list.item_google_item_remove', { 'id': item.mainlist.id, 'idItem': item.id }) }}">Remove the item</a></li>
                </ul>
            </div>
        </nav>

        <div class="item-list">
            <div class="item-info">
                <h4>Title : {{ item.title }}</h4>
                <h4>Deadline : {{ item.deadline.date|date('d/m/Y') }}</h4>
                <form method="post">
                    {% if item.done %}
                        <input type="submit" class="btn btn-success" name="done" value="Done !" />
                    {% else %}
                        <input type="submit" class="btn btn-default" name="done" value="Not done" />
                    {% endif %}
                </form>
                <img src="{{ asset("public/img/nyan.png") }}" alt="image"/>
            </div>
            <div class="item-content">
                <h4>Content : {{ item.content }}</h4>
            </div>
        </div>
    {% endif %}
{% endblock %}
