{% extends '::base.html.twig' %}

{%  block body %}
    {% if list %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a><b>{{ list.title }}</b></a></li>
                    <li><a href="{{ path('app.list_google_list_edit', { 'id': list.id }) }}">Edit the list</a></li>
                    <li><a href="{{ path('app.list_google_list_remove', { 'id': list.id }) }}">Remove the list</a></li>
                    <li><a href="{{ path('app.item_google_item_add', { 'id': list.id }) }}">Add an item</a></li>
                </ul>
            </div>
        </nav>

        <div class="list-title">
            <h1>{{ list.title }}</h1>
        </div>

        <div id="grid-gallery" class="grid-gallery">
            <section class="grid-wrap">
                <ul class="grid">
                    <li class="grid-sizer"></li>
                    {% for item in list.itemlists %}
                        <li>
                            <figure>
                                <img src="{{ asset('public/img/panda.jpg') }}" alt="image"/>
                                <figcaption>
                                    <h3><a href="{{ path('app.item_google_item_id', { 'id': list.id, 'idItem': item.id }) }}">{{ item.title }}</a></h3>
                                    <form method="post">
                                        {% if item.done %}
                                            <input type="submit" class="btn btn-success" name="done" value="Done !" />
                                        {% else %}
                                            <input type="submit" class="btn btn-default" name="done" value="Not done" />
                                        {% endif %}
                                        <input type="hidden" name="id" value="{{ item.id }}" />
                                    </form>
                                </figcaption>
                            </figure>
                        </li>
                        <li></li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    {% endif %}
{% endblock %}
