{% extends '::base.html.twig' %}

{%  block body %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a><b>Lists</b></a></li>
                <li><a href="{{ path('leo_and_leo_to_do_list.list_google_list_add') }}">Add a list</a></li>
            </ul>
        </div>
    </nav>

    <div id="grid-gallery" class="grid-gallery">
        <section class="grid-wrap">
            <ul class="grid">
                <li class="grid-sizer"></li>
                {% for list in lists %}
                    <li>
                        <figure>
                            <img src="{{ asset('public/img/nyan.png') }}" alt="image"/>
                            <figcaption>
                                <h3><a href="{{ path('leo_and_leo_to_do_list.list_google_list_id', { 'id': list.id }) }}">{{ list.title }}</a></h3>
                                <p>Number of tasks : {{ list.itemlists|length }}</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li></li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
