<h1>{{ task.name }}</h1> --<a href='update/{{ task.id }}'>Update</a> 
	<ul>
        <li>ID : {{ task.id }}</li>
		<li>Name : {{ task.name }}</li>
        <li>Statut : {{ task.statut }}</li>
        <li>ListID : {{ task.taskListID }}</li>
    </ul>
<a href='delete/{{ task.id }}'>Delete</a>
<a href='/tasklist/show/{{ task.taskListID }}'>Back</a>


